<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051464930028-l19g0g3ohodqumtpa713ie25n1g48vmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051464930028-l19g0g3ohodqumtpa713ie25n1g48vmc</string>
	<key>API_KEY</key>
	<string>AIzaSyC5J63RCSPgwjD6PXo8Ebkn2FyFaJd8uF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051464930028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vediohead</string>
	<key>PROJECT_ID</key>
	<string>vediohead-f39019</string>
	<key>STORAGE_BUCKET</key>
	<string>vediohead-f39019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051464930028:ios:63891d7f93c753a2</string>
	<key>DATABASE_URL</key>
	<string>https://vediohead-f39019.firebaseio.com</string>
</dict>
</plist>
